<nav class="navbar mb-2">

    <a href="/" class="navbar-brand text-light"> MMYBO </a>
    {{!-- <img src="/images/logo.png" height="75px" alt=""> --}}

    <ul class="nav nav-right">
        {{#if authenticatedUser}}
        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{authenticatedUser.name}}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/products/new">New Product Request</a>
                <a class="dropdown-item" href="/manage-offers">Manage Offers</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/signout">Sign Out</a>
            </div>
        </div>
        {{else}}
        <li><a href="/signin" class="nav-link nav-link-color"> Sign In</a></li>
        <li><a href="/signup" class="nav-link nav-link-color"> Sign Up</a></li>
        {{/if}}
    </ul>

</nav>


{{!-- <nav class="navbar justify-content-between">

</nav> --}}