<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Make Me Your Best Offer</title>
  <link rel="shortcut icon" href="/favicon.io" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  {{!-- General Styling --}}
  <link rel="stylesheet" href="/css/main.css">
  {{!-- Chatroom Styling --}}
  <!-- <link rel="stylesheet" href="../public/css/styles.css">
  <link href='/css/chatroom.css' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="/css/temp-chat-styles.css">

  <!--Flexbox Styling-->
  <link href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css'></link>
</head>

<body>
  {{> navbar}}

  <div class="alert alert-success d-none"></div>
  <div class="alert alert-danger d-none"></div>

  <main class="container-fluid">
    {{{body}}}
  </main>

  {{!-- JQuery --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  {{!-- Bootstrap Scripts --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>


  {{!-- Socket.io scripts --}}
  <script src="socket.io/socket.io.js"></script>
  <script src="/js/chatroom.js"></script>



  {{!-- Custom Scripts --}}
  <script src="/js/alerts.js"></script>
  <script src="/js/image-suggestor.js"></script>
  <script src="/sockets/temp-client.js"></script>

</body>

</html>
