<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>MMYBO</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  {{{body}}}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/alerts.js"></script>
</body>

</html>