<div class="container">
    <div class="row">
        <div class="col-centered">
            <h1> Edit Product Request </h1>
            <form method="POST" action="/products/{{product._id}}?_method=PUT">
                <div class="input-group">
                    <label for="name">Product Name:</label>
                    <input type="text" name="name" value="{{product.name}}" required>
                </div>
                <div class="input-group">
                    <label for="description">Product Description:</label>
                    <input type="text" name="description" value="{{product.description}}" required>
                </div>
                <div class="input-group">
                    <label for="requirements">Requirements:</label>
                    <input type="text" name="requirements" value="{{product.requirements}}" required>
                </div>
                <button class="btn">Complete Edit</button>
            </form>
            <button>
                <a href="./" class="btn">Cancel Edit</a>
            </button>
        </div>
    </div>
</div>

      {{!-- <div class="col-sm-6 col-sm-offset-3"> --}}
      {{!-- </div> --}}
{{!-- </div> --}}
