<div class="container">
    {{#if authenticatedUser}}
    <!-- Wasn't able to log in or see what auth users see so I wasn't able to edit this, 1st priority next sprint-->
    <h1>You are signed in!</h1>
    <a href="/signout" class="btn btn-primary">Sign Out</a>
    {{else}}
    <div class="text-center">
        <div>
            <img src="logo.png" height="225px" alt="MMYBO-logo">
        </div>
        <div>
            <a class="btn btn-light" href="/signin">Sign In</a>
            <a href="/signup" class="btn btn-light">Sign Up</a>
        </div>
    </div>
    {{/if}}
</div>
