{{#if authenticatedUser}}
<h1>You are signed in!</h1>
<a href="/signout" class="btn btn-primary">Sign Out</a>
<a href="/products-new" class="btn btn-primary">Make a Product Request</a>
{{else}}
<h1>You are not signed in!</h1>
<a class="btn btn-primary" href="/signin">Signin</a>
<a href="/signup" class="btn btn-primary">Signup</a>
{{/if}}
