<div class="container">
    {{#if authenticatedUser}}
    <!-- Wasn't able to log in or see what auth users see so I wasn't able to edit this, 1st priority next sprint-->
    <h1>Welcome Back, {{authenticatedUser.name}}!</h1>
    {{else}}
    <div class="row" style="padding-top: 10px;">
        <div class="col">
            <div class="card" style="height: 12rem; width: 10rem;">
                <img class="card-img-top" src="" alt="Product Image">
                <div class="card-body">
                    <h6 class="card-title">Product Title</h6>
                    <p>Description</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 12rem; width: 10rem;">
                <img class="card-img-top" src="" alt="Product Image">
                <div class="card-body">
                    <h6 class="card-title">Product Title</h6>
                    <p>Description</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 12rem; width: 10rem;">
                <img class="card-img-top" src="" alt="Product Image">
                <div class="card-body">
                    <h6 class="card-title">Product Title</h6>
                    <p>Description</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 12rem; width: 10rem;">
                <img class="card-img-top" src="" alt="Product Image">
                <div class="card-body">
                    <h6 class="card-title">Product Title</h6>
                    <p>Description</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col">
            <div class="card" style="height: 12rem; width: 10rem;">
                <img class="card-img-top" src="" alt="Product Image">
                <div class="card-body">
                    <h6 class="card-title">Product Title</h6>
                    <p>Description</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 12rem; width: 10rem;">
                <img class="card-img-top" src="" alt="Product Image">
                <div class="card-body">
                    <h6 class="card-title">Product Title</h6>
                    <p>Description</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 12rem; width: 10rem;">
                <img class="card-img-top" src="" alt="Product Image">
                <div class="card-body">
                    <h6 class="card-title">Product Title</h6>
                    <p>Description</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 12rem; width: 10rem;">
                <img class="card-img-top" src="" alt="Product Image">
                <div class="card-body">
                    <h6 class="card-title">Product Title</h6>
                    <p>Description</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>