<div class="container">
     <div class="row">
        <div class="col-centered">
            <h1> New Product Request </h1>
            <form action="/products" method="POST">
                <div class="input-group">
                    <label for="name" class="col-md-6">Product Name:</label> 
                    <input type="text" name="name" class="col-md-6" required>
                </div>
                <div class="input-group">
                    <label for="description" class="col-md-6">Product Description:</label>
                    <input type="text" name="description" class="col-md-6" required>
                </div>
                <div class="input-group">
                    <label for="requirements" class="col-md-6">Requirements:</label>
                    <input type="text" name="requirements" class="col-md-6" required>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


