<form action="/products" method="POST" class="card container mt-5 px-0">

    <div class="card-header">
        <h3>New Product Request:</h3>
    </div>

    <div class="card-body">
        <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" name="name" id="product-title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select name="category" class="form-control">
                <option value="appliances">Appliances</option>
                <option value="books">Books</option>
                <option value="computers">Computers</option>
                <option value="electronics">Electronics</option>
                <option value="movies-tv">Movies/TV</option>
                <option value="music">Music</option>
                <option value="phones">Phones</option>
                <option value="sports-outdoor">Sports/Outdoor</option>
                <option value="video-games">Video Games</option>
                <option value="general">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Product Description:</label>
            <input type="text" name="description" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="requirements">Requirements:</label>
            <input type="text" name="requirements" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="text" class="form-control form-control-readonly" id="product-image-input" name="image"
                placeholder="(Choose Below)" readonly>
        </div>
        <div id="image-selector">

        </div>
    </div>

    <div class="card-footer">
        <button class="btn btn-dark">Submit</button>
    </div>

</form>