<div class="container text-center">
    <form action="/signin" method="POST">
        <div class="align-items-center">
            <div class="input-group">
                <label for="email" class="col-sm-4 col-form-label is-valid"> </label>
                <div>
                    <input type="email" style="margin:7px" name="email" placeholder="Email " required>    
                </div>
            </div>
            <div class="input-group">
                <label for="password" class="col-sm-4 col-form-label is-valid" placeholder="Password: "></label>
                <div>
                    <input type="password" style="margin:7px" name="password" placeholder="Password" required>
                </div>
            </div>
            <div class="text-center">
                <button class="btn float-center">Sign In</button>
            </div>
        </div>
    </form>
</div>
