<form class="container" action="/signin" method="POST">

    <div class="input-group">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
    </div>
    <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" name="password">
    </div>

    <button class="btn btn-primary">Signin</button>

</form>