<div class="container">
    <div class="row">
        <div class="col-centered">
            <form action="/signup" class="card container px-0 mt-5" enctype="multipart/form-data" method="POST">
                <div class="card-header">
                    <center><h3>Sign Up</h3></center>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Full Name:</label>
                        <input type="text" name="name" autocomplete="name" class="form-control" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" autocomplete="email" class="form-control" placeholder="example@email.com">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" autocomplete="current-password" class="form-control"
                            placeholder="*****">
                    </div>
                    <br>


                  <div class="custom-file mb-3">
                    <input type="file" name="file" id="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Choose Profile Image</label>
                  </div>


                </div>
                <div class="card-footer">
                     <center><button class="btn btn-dark" type="submit">Sign Up</button></center>
                </div>
            </form>

        </div>
    </div>
</div>
