  <link rel="stylesheet" href="/css/temp-chat-styles.css">


<div class="mainContainer">

  <div class="channelsAndUsersOnlineContainer">
    <center><h1 class="brand">Manage Offers</h1></center>
    <div class="channels">
        <h2 class="channelsLabel">Channels</h2>
        {{#each userChatrooms}}
            <div class="channel" id="{{this._id}}">{{this.channel}}</div>
        {{/each}}
    </div>
  </div>

  <div class="chatContainer">
    <div class="chatContainerFluid">
      <div class="messageContainer">
          <h2>Messages</h2>
      </div>
      <div class="textChatDivide"></div>

      <div class='rightPan'>
          <div class="chatBox">
              <textarea id="chatInput" placeholder="Type a message"></textarea>
              <button id="sendChatBtn">Send</button>
          </div>
          <input type="hidden" id="user_id" value="{{authenticatedUser._id}}">
      </div>
    </div>
  </div>

</div>
