.masthead {
height: 44em;
  min-height: 250px;
  background-image: url('../images/bg-masthead.jpg');
  background-color: #212529;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;

}
.overlay{
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3;
}



.home-icon {
    margin: 500px auto
}

.search-height{
    padding-top: 5em;
    height: 500px
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.navbar-brand {
    padding-right: .5em;
    padding-left: .5em;
}

.right {
    margin-right: -6em;
}


.left {
    margin-left: -6em;
}
